# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test / coverage
coverage

# TypeScript incremental build info
*.tsbuildinfo

# Windows / WSL stray files
*:Zone.Identifier

# Local Netlify folder
.netlify
